@import "tailwindcss";

/* Hide scrollbar buttons */
::-webkit-scrollbar-button {
  display: none;
}

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
  margin: 30px 0;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
  max-height: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e0e0e0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --super : #8D50F9;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*{
  /* border: 1px solid red; */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: "HelveticaNeueMedium";
  src: url("/fonts/HelveticaNeueMedium.otf") format("opentype");
}

.helve {
  font-family: "HelveticaNeueMedium", sans-serif;
}